html, body{
    height:100%;
    margin:0;
    padding:0;
}

.jumbotron{
  background-image: url(https://cdn.pixabay.com/photo/2012/01/09/09/33/mercury-11591_960_720.png);
  background-repeat: no-repeat;
  background-color: grey;
  background-size: cover;
}
h1,p{
  color: white;
}